<div class="mobile-topbar d-lg-none" aria-label="Mobile top bar">
  <ng-container *ngIf="content$ | async as content">
    <div class="container mobile-topbar__inner">
      <a
        class="mobile-topbar__brand"
        [routerLink]="['/']"
        fragment="top"
        [attr.aria-label]="content.brand.name"
      >
        <img
          class="mobile-topbar__logo"
          src="assets/branding/logo-mark.svg"
          [attr.alt]="content.brand.name + ' logo'"
        >
        <span class="mobile-topbar__text">{{ content.brand.name }}</span>
      </a>
      <div class="mobile-topbar__actions">
        <div
          class="language-toggle language-toggle--topbar"
          [attr.aria-label]="content.ui.mobile?.languageLabel || content.ui.language.label"
        >
          <button
            type="button"
            class="lang-btn"
            [class.active]="(lang$ | async) === 'uk'"
            (click)="setLang('uk')"
            [attr.aria-pressed]="(lang$ | async) === 'uk'"
          >
            {{ content.ui.language.ua }}
          </button>
          <span class="lang-divider">|</span>
          <button
            type="button"
            class="lang-btn"
            [class.active]="(lang$ | async) === 'en'"
            (click)="setLang('en')"
            [attr.aria-pressed]="(lang$ | async) === 'en'"
          >
            {{ content.ui.language.en }}
          </button>
        </div>
        <ng-container *ngIf="socialLinks$ | async as socials">
          <div class="topbar-socials" *ngIf="socials.length">
            <a
              *ngFor="let item of socials; trackBy: trackByKey"
              class="social-icon"
              [href]="item.url"
              target="_blank"
              rel="noopener noreferrer"
              [attr.aria-label]="item.label"
            >
              <i [class]="'bi ' + item.icon" aria-hidden="true"></i>
            </a>
          </div>
          <button
            *ngIf="socials.length"
            type="button"
            class="topbar-socials-toggle"
            data-bs-toggle="offcanvas"
            data-bs-target="#topbarSocials"
            aria-controls="topbarSocials"
            [attr.aria-label]="content.ui.nav.more"
          >
            <i class="bi bi-link-45deg" aria-hidden="true"></i>
          </button>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>

<nav class="bottom-nav d-lg-none" aria-label="Mobile bottom navigation">
  <div class="container bottom-nav__inner">
    <ng-container *ngIf="content$ | async as content">
      <a
        *ngFor="let link of navLinks; trackBy: trackByFragment"
        class="bottom-nav__item"
        [class.active]="activeSection === link.fragment"
        [attr.aria-current]="activeSection === link.fragment ? 'page' : null"
        [attr.aria-label]="content.ui.nav[link.key]"
        [routerLink]="['/']"
        [fragment]="link.fragment"
        (click)="setActiveSection(link.fragment)"
      >
        <i [class]="'bi ' + link.icon" aria-hidden="true"></i>
        <span>{{ content.ui.nav[link.key] }}</span>
      </a>
    </ng-container>
  </div>
</nav>

<ng-container *ngIf="content$ | async as content">
  <ng-container *ngIf="socialLinks$ | async as socials">
    <div
      *ngIf="socials.length"
      class="offcanvas offcanvas-top topbar__offcanvas d-lg-none"
      tabindex="-1"
      id="topbarSocials"
      aria-labelledby="topbarSocialsLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="topbarSocialsLabel">{{ content.brand.name }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          [attr.aria-label]="content.ui.actions.close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div class="social-icons">
          <a
            *ngFor="let item of socials; trackBy: trackByKey"
            class="social-icon"
            [href]="item.url"
            target="_blank"
            rel="noopener noreferrer"
            [attr.aria-label]="item.label"
          >
            <i [class]="'bi ' + item.icon" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
